@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
     font-family: 'Ubuntu', sans-serif;
}
.max-width-1320 {
     max-width: 1320px;
}
.nav-text {
     display: flex;
     align-items: center;
}
main {
     min-height: 75vh;
}
.desc {
     display: flex;
     justify-content: center;
     flex-direction: column;
}
.slider-cus {
     border-radius: 15px;
}