.max-width-1320 {
     max-width: 1320px;
}
.nav-text {
     display: flex;
     align-items: center;
}
main {
     min-height: 75vh;
     margin-top: 15px;
}
.container-cus {
     display: flex;
}
.desc {
}
.slider-cus {
     border-radius: 15px;
}